body{
  margin:15px auto;
  width:75%;
}

nav{
  text-align:center;
}

h1{
  text-align:center;
  padding:0px;
  border:0px;
  margin:0px;
}

#learnings{
  float:left;


  box-sizing: border-box;
  width:35%;
  margin:3%;

  padding:0px 15px;

  border:3px solid orange;
  border-radius:15px;
}

/*
a:link,
a:visited{
  text-decoration:none;
}

a:link{
  color:#A00000;
}

a:visited{
  color:#800000;
}

a:hover,
a:active{
  text-decoration:underline;
}

a:hover{
  color:#600000;
}

a:active{
color:#400000;
}
*/
